
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&display=swap');



body {
  background-image: url("../images/sky.jpg");
  background-color: #cccccc; 
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;

}

.logo{
    text-transform: uppercase;
    font-family: initial;
    margin-top: 11px;
    font-family: 'Big Shoulders Display', cursive;

}
.logo a {
    text-decoration: none;
    color: #fff;
}

.main-header {
    background-color: #139057bd;

}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 13px 15px;
    display: block;
}

.menu ul li a:hover {
    background-color: orange;
    color: #333;
    transition: .3s;
    border-radius: 5px;
}

.section {
    text-align: center;
    margin-top: 50px;
}
  
.section h1{
    color: #f59494;
    text-transform: uppercase;
    word-spacing: 2px;

}

.section h4{
    color: #3dad46;
    font-weight: 600;
}

.icon{
    font-size: 40px;
    color: #f59494;
}

.button{
    background-color: green;
    padding: 10px 80px;
    margin-top: 10px;
    color: #fff;
    display: grid;
}

a.button:hover{
    background-color: #b1981f; 
    color: #000;
    transition: .5s;
}

.section p{
    margin-top: 20px;
}

.section a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: block;
}







