
a.boxed-btn, input[type=submit], button[type=submit] {
    background: #fff;
    color: #373737;
}
a.boxed-btn{
	margin-top: 10px;
} 
.hero-area{
	background-image: url(../images/bg-color.png);
}

.hero-area {
    color: #fff;
    background-size: cover;
    background-position: center;
    line-height: 1.8;
}

.hero-area h1 {
    color: #fff;
    font-size: 45px;
    margin-top: 90px;
}

.aboute-text h3 {
    font-size: 19px;
}

.aboute-text p {
    line-height: 1.5;
}

.aboute-text {
    margin-top: 32px;
}

.section-padding.padding-top-0 {
    padding-top: 0;
}

.single-service-box-2:hover i.fas, .single-service-box-2:hover h3  {
	color:#fff;
}
.single-service-box-2 {
    height: 250px;
    background: #FBFBFB;
    display: table;
    width: 100%;
    text-align: center;
}

.service-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
}

.service-icon {
    font-size: 30px;
    color: #20A5F9;
}

.single-service-box-2 h3 {
    font-size: 20px;
    margin-top: 15px;
}
.single-service-box-2:hover .icon{
	color: #fff;
}
.single-service-box-2 {
	transition: 1s;
}
.single-service-box-2:hover {background: #04befe;
	background: -moz-linear-gradient(top,  #04befe 0%, #4481ec 100%);
	background: -webkit-linear-gradient(top,  #04befe 0%,#4481ec 100%);
	background: linear-gradient(to bottom,  #04befe 0%,#4481ec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04befe', endColorstr='#4481ec',GradientType=0 );

}
.color-bg{
	background: #05bdfe;
	background: -moz-linear-gradient(top,  #05bdfe 0%, #4383ed 100%);
	background: -webkit-linear-gradient(top,  #05bdfe 0%,#4383ed 100%);
	background: linear-gradient(to bottom,  #05bdfe 0%,#4383ed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05bdfe', endColorstr='#4383ed',GradientType=0 );

}
.margin{
	margin-right:8px;
}


.testimonial-icon {
    border: 1px solid #ddd;
    background: #fff;
    height: 60px;
    width: 60px;
    display: inline-block;
    line-height: 60px;
    color: #3B89EF;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 40px;
}

h4 span {
    display: block;
    font-size: 15px;
    color: #D0D0D0;
    margin-top: 10px;
}
.singel-testimonial-item p {
    margin-bottom: 40px;
}
.section-title p {
    color: #B3B3B3;
}



.case-study-box-preview {
    display: table;
    height: 300px;
    width: 100%;
    background-color: #ddd;
    background-position: center;
    background-size: cover;
}

.case-study-link-tablecell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 1;
    opacity: .8;
    transition: .3s;
    transform: scale(.8);
    visibility: hidden;
}
.case-study-link-tablecell :after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #3CC6F7;
    z-index: -1;
    opacity: .8;
}
.case-study-box-style2 h4 {
    margin-top: 30px;
}
.case-study-link-tablecell .boxed-btn {
    background: #fff;
    color: #000;
}
.case-study-box-style2:hover .case-study-link-tablecell {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}


.singel-service-box.them-2 {
    padding: 0;
}

.them-2 .pricing-headding {
    background: #FBFBFB;
    padding: 20px;
}

.them-2 .pricing-headding .pricing-coun {
    color: #3B89EF;
}

.them-2 .pricing-headding p {
    margin: 0;
}
.them-2 .pricing-content .boxed-btn {
    display: block;
    border-radius: 0;
}

.singel-service-box.them-2:hover, .singel-service-box:hover .pricing-headding {
    border-color: #FBFBFB;
}
.section-padding.color-bg h2 {
    color: #fff;
}
a.boxed-btn, input[type=submit], button[type=submit] {
    background: #06D6A0;
    color: #fff;
}
.footer-area img {
    margin-bottom: 30px;
}

.ready-area a.boxed-btn {
    background: #fff;
    color: #333;
}